.MainPage {
    background-image: url("https://images.pexels.com/photos/248747/pexels-photo-248747.jpeg");
    background-size: "inherit";
    height: 100vh;
    margin-top: -20px;
    background-repeat: no-repeat;
  }

.BackGround {
    background-image: url("https://images.pexels.com/photos/2127039/pexels-photo-2127039.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

