body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bdr {
  border-radius: 12px;
  overflow: hidden;
}

.pb {
  padding-bottom: 12px;
}

.center-image{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  width: 100%;
}

.center-image img{
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}